html {
    display: flex;
    justify-content: center;
}

button {
    padding: 1rem;
    margin: 0.5rem;

    border-radius: 15px;
}

button:hover {
    background: lightgray;
}

input {
    padding: 0.5rem;
    margin: 0.5rem;

    border: 2px solid;
    border-radius: 15px;
}

.gameCard {
    padding: 0.5rem;
    background: gray;

    border: 2px solid gray;
    border-radius: 15px;
}

#difficulty {
    display: flex;
    flex-direction: column;
}